# RentHive Server Configuration
PORT=4000
NODE_ENV=production

# MongoDB Connection String (Atlas or Local)
# Replace with your actual database URI
MONGO_URI=mongodb+srv://username:password@cluster.mongodb.net/renthive_db?retryWrites=true&w=majority

# JWT Authentication Secret Key
JWT_SECRET=renthive_production_jwt_secret_key_change_me_2026

# Frontend Client URL (For CORS protection)
# e.g. https://renthive.vercel.app or http://localhost:5173
CLIENT_URL=http://localhost:5173
